* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}




/* Sardor */


/* Sardor */



/* Islom */
.islom-title {
    font-size: 48px;
    margin: 3rem;
    width: 624px;
    height: 68px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem;
}

.islom_cards {
    display: flex;
    align-items: center;
}

.islom-card1 {
    width: 1280px;
    height: 489px;
}

.islom-card-text {
    margin: 1.5rem;
}

.islom-card-text p {
    width: 500px;
    font-size: 24px;
    color: rgba(130, 130, 130, 1);
}

.islom-card-text h3 {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
}

.islom-box {
    width: 1280px;
    height: 198px;
    display: flex;
    margin: 0 auto;
    gap: 15px;
}

.islom-box-flexx {
    width: 405px;
    height: 198px;
    padding: 20px;
    border-radius: 1.5rem;
    border: 2px solid #e6e6e6;
}

.islom-box-flexx h1 {
    font-size: 24px;
    margin: 1rem;
}

.box-flexx p {
    font-size: 16px;
}

.islom-box-flexx h4 {
    font-size: 16px;
}

.islom-footer {
    width: 100%;
    height: 236px;
    background-color: rgba(247, 247, 247, 1);
    margin: 5rem auto;
}

.islom-title {
    font-size: 48px;
}

.islom-btn {
    color: #fff;
    background-color: black;
    border-radius: 1rem;
    border: 2px solid #000;
    transition: 0.7s;
    width: 141px;
    height: 76px;
    font-size: 24px;
    padding: 1.5rem;
    cursor: pointer;
}

.islom-btn:hover {
    color: black;
    background-color: #fff;
}

.islom-btn2 {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    border: 2px solid #fff;
    transition: 0.7s;
    width: 271px;
    height: 76px;
    font-size: 24px;
    cursor: pointer;
}

.islom-btn2:hover {
    color: #000;
    background-color: #fff;
}

.islom-footer-btn {
    width: 436px;
    height: 76px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.islom-footer-flex {
    display: flex;
    justify-content: space-around;
    height: 236px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}

/* Islom */



/* Oybek */


/* Oybek */



/* Inomjon */


/* Inomjon */



/* Sunnattila */


/* Sunnattila */



/* Maftuna */


/* Maftuna */